body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

li {
	list-style: none;
}

.main {
    padding: 10px;
}




.sidebar {
		height: 10vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

/* My Design */

.search {
    width: 50%;
    font-size: 15px;
    line-height: 15px;
		border: none;
}

.search:focus {
		outline: none;
}
